<div class="container-fluid">
    
        <div class="col-3 center" >
            <form [formGroup]="miFormu" (ngSubmit)="submitFormulario()">
                <div class="mb-4">
                    <label for="" class="form-label">Email</label>
                    <input formControlName="usuario" [class.is-invalid]="f.usuario.errors && f.usuario.touched" type="email" id="" placeholder="Email" class="form-control">
                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                        Ingresa un email valido
                      </div>
                </div>
                <div class="mb-4">
                    <label for="" class="form-label">Contraseña</label>
                    <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" type="password"  id="" placeholder="Contraseña" class="form-control">
                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                        Ingresa una contraseña
                      </div>
                </div>
                <div class="mb-4 form-check">
                    <input  class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Recordarme
                    </label>
                </div>
                <div class="my-3">
                    <span>No tenes cuenta? <a href="#">Registrate</a></span><br>
                    <span><a href="#">Recuperar contraseña</a></span>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    
</div>